
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ingresa</title>
</head>
<body>
    <header>
        <div class="container-logo-search-bar">
          <div class="logo"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
          <div class="container-search-bar">
            <form  action="https://www.mercadolibre.com.ar/jm/search" method="GET" role="search" style="overflow: inherit; display: inherit;">
              <input type="text" placeholder="Buscar..." class="nav-search">
              <button type="submit" class="nav-search-btn" tabindex="3">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </form>
          </div>
          <div class="container-comprar-cuotas"><h4><i class='fa-solid fa-hand-holding-dollar'></i class="comprar-cuotas"> Comprá en cuotas y sin tarjeta de crédito</h4></div>
        </div>
        <nav class="container-botones">
            <ul type="none" class="botones-derechos">
                <li><a href='deals'>Ofertas</a></li>
                <li><a href='officialStores'>Tiendas Oficiales</a></li>
                <li><a href='sell'>Vender</a></li>
                <li><a href='help'>Ayuda</a></li>
            </ul>
            <ul type="none" class="botones-izquierdos">
                <li><a href='register'>Creá tu cuenta </a><i class="fa-regular fa-id-card icons"></i></li>
                <li><a href='login'>Ingresá </a><i class="fa-solid fa-right-to-bracket icons"></i></li>
                <li><a href='myshopping'>Mis compras </a><i class="fa-solid fa-basket-shopping icons"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="background-blue color-white border-radius-15 padding-10 fa-solid fa-bars"></i>
        </div>
    </header>
</head>
<body>
    
    <form action="login.html" method="post" class="form-login">
        <h1 class =" form-titulo"> Inicia Sesion </h1>


        <div class="input-contenedor">
            <div class="conteiner-icons-login">
                <i class="fa-solid fa-user icon"></i>
            </div>
           <input type="text" name ="email" class="sinborde" placeholder="  Correo Electronico" maxlength="15"required/>


        </div>

        <div class="input-contenedor">
            <div>
                <i class="fa-solid fa-lock icon"></i>
            </div>
            <input type="password" name= "password" class="sinborde" placeholder="  Contraseña" maxlength="8" required/>

         </div>

         <div>
        <label class="recordar-contraseña"><input type="checkbox" class="checkbox">Recordar mi Contraseña</label></br>
         <div class="olvidaste-contr">  ¿Olvidaste tu contraseña? <a class="link-header2" href="passwordrecovery.html">Recuperala haciendo click</a></div>
            <div class="b-continue"><input type="submit" value="Continuar" class="button"></div>
         
        
        </div>
    
    </form>