
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ingresa</title>
</head>
<body>
    <header>
        <div class="container-logo-search-bar">
            <div class="flex-grow-50"><img src="images/logo-mercado-liebre.svg" alt="ml logo"></div>
            <div class="container-search-bar">
              
            </div>
          </div>
    <div>
    <p> ¿No tienes cuenta? </p><a class="link-header" href="register">Registrate</a>
    </div>
</header>
</head>
<body>
    
    <form action="login.html" method="post" class="form-login">
        <h1 class =" form-titulo"> Inicia Sesion </h1>


        <div class="input-contenedor">
           <i class="fa-solid fa-user icon"></i>
           <input type="text" name ="email" class="sinborde" placeholder="Correo Electronico" maxlength="15"required/>


        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-lock icon"></i>
            <input type="password" name= "password" class="sinborde" placeholder="Contraseña" maxlength="8" required/>

         </div>

         <div>
        <label class="recordar-contraseña"><input type="checkbox" class="checkbox">Recordar mi Contraseña</label></br>
         <div class="olvidaste-contr">  ¿Olvidaste tu contraseña? <a class="link-header2" href="passwordrecovery.html">Recuperala haciendo click</a></div>
            <div class="b-continue"><input type="submit" value="Continuar" class="button"></div>
         
        
        </div>
    
    </form>