@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@100&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height:100%;
    background-color: #ebebeb;
}

main {
    width: 90%;
    margin: auto;
}

nav {
    display: none;
}
.container-botones{
  display: none;
}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

article {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
    margin-bottom: 10px;
    padding: 15px;
    transition: all 1000ms;
}
article:hover{
  border-radius: 4vh;
  background-color: #faf5e7;
}


h2 {
    font-size: 24px;
    margin-top: 2vh;
    margin-bottom: 2vh;
}
h4{
  font-size: 0.8em;
  text-align: center;
}
h5 {
    font-size: 16px;
    margin-top: 2vh;
}
h6 {
    font-size: 18px;
}
p {
    font-size: 12px;
    text-align: center;
}
i {
    font-size: 2em;
    margin-bottom: 10px;
}
header {
    background-color: #EAC926;
    width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

/* HEADER */
/* logo & search bar */
.container-logo-search-bar {
  display: inline-block;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
 
}
.container-logo-search-bar div {
  width: 50%;
}
.container-logo-search-bar div img {
  margin: 20px;
}
.container-search-bar {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;

}
.container-search-bar form {
  display: flex;
  justify-content:space-between;
}
.container-search-bar i {
  font-size: 1em;
  margin-bottom: 0;
}
.nav-search{
  background-color: white;
    border: solid white;
    width: 45vw;
    height: 3.5vh;
    border-radius: 0.5vh ;
    margin-right: -3vh;
}
.nav-search-btn{
  width: 4vh;
  height: 3.5vh;
  border-radius: 1vh;
  background-color: white;
  cursor: pointer;
  border: none;
}
.border-radius-15 {
    border-radius: 15%;
}
.padding-10 {
    padding: 10px;
}
.container-comprar-cuotas{
  display: flex;
  margin-bottom: 2vh;
  margin-left: auto;
  margin-right: auto;
}
/* colors */
.background-blue {
    background-color: #03264C;
}
.color-white {
    color: #FFFFFF;
}
.color-green {
  color: #00a650;
}


.burger-menu {
    text-align: center;
}

.img {
    border-top: 1px solid #ebebeb;
}
div.img img {
    width: 100%;
}
.description {
    visibility: hidden;
    transition: transform 5s;

}


.container-flex-box {
  display: flex;
}
.flex-grow-30 {
  flex-grow: 0.3;
}
.logo{
    display: flex;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.flex-grow-70 {
  flex-grow: 0.7;
}

.flex-grow-1 {
  flex-grow: 1%;
  background-color: white;
}
/* .flex-grow-2 {
  display: none;
}
.flex-grow-3 {
  display: none;
}
.flex-grow-4 {
  display: none;
} */

.container-truck {
  display: flex;
  justify-content: flex-end;
}
.container-truck i {
  border-radius: 100%;
  padding: 10px;
  border: solid;
  border-width: thin;
}
.icons{
  color: #1259c3;
  font-size: 0.9rem;
}
.container-icon-footer{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}
.icons-footer{
  color: #1259c3;
  font-size: 2em ;
  display: flex;
  align-items: center;
  justify-content: center; 
}
.footer{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.title-footer{
  text-align: center;
}
p{
  text-align: center;
}

/* animaciones */


/* article:hover .description {
  visibility: visible;
}

article:hover i.rotate {
  transform: rotate(360deg);
}

.deal-effect {
  transition: width 2s, height 2s, transform 2s;
} */


/* TABLET */
@media (min-width: 769px) {
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.container-logo-search-bar {
  display: flex;
}
    .logo{
      display: flex;
      height: 120px;
      width: 120px;
      margin-left: 10vh;
    }
    nav {
        display: block;
    }
    .container-logo-search-bar {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
    .container-comprar-cuotas{
      margin-top: 5vh;
    }
    .comprar-cuotas{
      text-align: center;
    }
    .nav-search{
      background-color: white;
        border: solid white;
        width: 30vw;
        height: 3.5vh;
        border-radius: 0.5vh ;
        margin-right: -3vh;
        margin-top: auto;
        margin-bottom: auto;
    }
    .nav-search-btn{
      width: 4vh;
      height: 3.5vh;
      border-radius: 1vh;
      background-color: white;
      cursor: pointer;
      border: none;
      margin-top: auto;
        margin-bottom: auto;
    }
    .container-botones{
      display: block;
      display: flex;
      justify-content: space-between;
      margin-top: 0vh;
    }
    .botones-derechos{
      display: flex;
      justify-content: space-around;
      text-decoration-line: none;
      margin-left: 2vh;
    }
    .botones-izquierdos{
      display: flex;
      margin-right: 2vh;
    }
    li{
      margin-left: 1vh;
    }
    a{
      text-decoration: none;
      color: #551A8B;
      font-size: 0.9rem;
    }
    .icons{
      color: #1259c3;
      font-size: 0.9rem;
    }
    .container-icon-footer{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2vh;
    }
    .icons-footer{
      color: #1259c3;
      font-size: 2em ;
      display: flex;
      align-items: center;
      justify-content: center; 
    }
   /* .footer{
      display: flex;
      align-items: center;
      justify-content: center; 
    }  */
    .footer{
      display: inline-block;
    }
    .container-title-footer{
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
    }
    section {
        flex-wrap: nowrap ;
    }
    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .description {
        display: block;
    }
    .burger-menu {
        display: none;
    }
    .flex-grow-1 {
      margin-right: 15px;
    }
    .flex-grow-2 {
      display: block;
    }
    .form-titulo{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .input-contenedor{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .recordar-contraseña{
      display: flex;
      align-items: center;
      justify-content: center; 
    }
    .olvidaste-contr{
      display: flex;
      align-items: center;
      justify-content: center; 
    }
    .b-continue{
      display: flex;
      align-items: center;
      justify-content: center; 
      margin-top: 2vh;
    }
    .section-2{
      display: flex;
    }
    h3{
      margin-right: 2vh;
    }
    
    /* REGISTRO */
    .nombre-apellido{
      display: flex;
      margin-left: 2vh;
    }
    .user-name{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .born-date{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .address{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .profile{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .categorie{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .profile-img{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .password{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .confirm-password{
      display: flex;
      margin-left: 2vh;
      margin-top: 4vh;
    }
    .buttons-register{
      display: flex;
      margin-left: 2vh;
      margin-top: 2vh;
    }
    .b-submit-register{
      margin-left: 22vh;
    }
    
}

/* DESKTOP */
@media (min-width: 1280px) {
  .flex-grow-2 {
    margin-right: 15px;
  }
  .flex-grow-3 {
    display: block;
    margin-right: 15px;
  }
  .flex-grow-4 {
    display: block;
  }
}



